{
    "presets": [
      [
        "@babel/preset-env",
        "@babel/preset-react",
        "@babel/stage-0"
      ]
    ],
    "plugins": [
      "@babel/plugin-proposal-object-rest-spread",
      "@babel/plugin-proposal-class-properties"
    ]
  }
  